# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.pyc

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Private screenshot/data folders
private_data/

# Generated indexes
*.index